version: 2.4.4.{build}
image:
- Visual Studio 2022
- Ubuntu2204
configuration: Release
platform: Any CPU
before_build:
- sh: >-
    dotnet --version

    dotnet restore
build:
  project: JinianNet.JNTemplate.sln
  verbosity: minimal
after_build:
- sh: dotnet build
test_script:
- sh: dotnet test