<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=|DataDirectory|\data.db;" name="connection" providerName=""/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules>
      <add type="JinianNet.JNTemplate.Demo.HttpModule,JinianNet.JNTemplate.Demo" name="HttpModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpModule" type="JinianNet.JNTemplate.Demo.HttpModule,JinianNet.JNTemplate.Demo"/>
    </modules>
  </system.webServer>
</configuration>